.tableContainer {
    overflow: auto;
}

.tableHeader {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

.headerCell {
    flex-shrink: 0;
    padding: 10px;
    font-weight: bold;
    border-top: 2px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    overflow: hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    text-align: left;
}

.tableBody {
    overflow: visible;
}

.tableRow {
    display: flex;
}

.tableCell {
    flex-shrink: 0;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    overflow: hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
}

.tooltipContainer {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    overflow: visible;
}

.recipeName {
    width: 200px;
}

.recipeDescription {
    width: 300px;
}

.truncated {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tooltipText {
    width: 100%;
    visibility: hidden;
    position: absolute;
    z-index: 100;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    top: 0;
    left: 10px;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltipContainer:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}