/* BookmarkButton.module.css */
.bookmarkIcon {
  cursor: pointer;
  transition: color 0.3s ease;
}

/* 새로 추가된 스타일 */
.bookmarkIcon svg {
  stroke: #000000; 
  stroke-width: 0.9px;  /* SVG 아이콘의 테두리 두께 증가 */
  /* stroke-linejoin: round;  선이 만나는 모서리를 둥글게 */
  opacity: 0.9;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.1));
  fill: #6b6b6b;  /* 기본 내부 색상 (회색) */
  background-color: rgba(255, 255, 255, 0);   /*fill 말고 내부색상 채우기? */
}

@media (max-width: 768px) {
  .bookmarkIcon svg {
    stroke-width: 0.5px;  /* 작은 화면에서는 조금 더 얇게 */
  }
}

.bookmarkIcon:hover svg {
  fill: #747272;  /* 호버 시 내부 색상 (조금 더 진한 회색) */
}

.bookmarkIcon.bookmarked svg {
  fill: #FFD700;  /* 선택 시 내부 색상 (노란색) */
}

.bookmarkIcon.bookmarked:hover svg {
  fill: #FFC700;  /* 선택 상태에서 호버 시 내부 색상 (조금 더 진한 노란색) */
}