/* Navbar.css */

/* 상단 네비게이션 (공지사항, 회원가입, 로그인 등) */
.navbar-top {
  padding: 0rem 0rem; 
}

.navbar-top .nav-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #444444 !important; 
  text-decoration: none; 
}

/* 메인 네비게이션 바 */
.navbar {
  background-color: white !important;
  border-bottom: 1px solid rgba(110, 110, 110, 0.1);
  padding: 0.2rem 1rem; /* 상하 패딩을 줄여 높이 조정 */
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.search-form {
  flex-wrap: nowrap;
  margin-right: 15px;
  display: flex;
}

.search-input {
  flex: 1;
  min-width: 100px;
}

.search-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.375rem 0.75rem;  
  min-width: auto; 
  width: auto;  
}

.search-form {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.navbar .nav-link {
  padding: 0.25rem 0.75rem;
  font-size: 17px;
  font-weight: bold;
  border-radius: 1rem;
}

.navbar .category-link:hover {
  background-color: #f0f0f0; 
  color: #000000 !important; 
}

/* 네비게이션 아이템 간격 조정 */
.navbar .nav-item {
  margin: 0 0px;
}

/* 카테고리(한식,중식,일식,양식) 스타일 */
.navbar .category-link {
  font-size: 20px; 
}

/* 드롭다운 영역*/
.search-form .dropdown {
  margin-right: 0px;
  color: #444444 !important; 
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 1200px) {
  .navbar .nav-link {
    padding: 0.5rem 0.75rem;
  }
}

@media (max-width: 992x) {
  .navbar .nav-link {
    padding: 0.5rem 0.5rem;
  }
  .navbar .form-control,
  .navbar .btn {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .navbar .nav-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
  }
  .navbar .form-control,
  .navbar .btn {
    font-size: 0.9rem;
  }
}