/* Navbar.css */
.search-form {
  flex-wrap: nowrap;
  overflow: hidden;
}

.search-input {
  flex: 1;
  min-width: 100px;
}

.search-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.375rem 0.75rem;  
  min-width: auto; 
  width: auto;  
}

.navbar .nav-link {
  padding: 0.5rem 1rem;
}
/* 
미디어쿼리 사용? ..
@media (max-width: 992px) {
  .navbar .nav-link {
    padding: 0.5rem 0.5rem;
  } */

/* 
@media (max-width: 768px) {
  .navbar .nav-link {
    padding: 0.5rem 0.25rem;
  }
  .navbar .form-control,
  .navbar .btn {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .navbar .nav-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
  }
  .navbar .form-control,
  .navbar .btn {
    font-size: 0.7rem;
  }
} */