/* RecipeCard.module.css */

.recipeCardWrapper {
  width: 100%;  
  margin-bottom: 20px;  
  display: block;  /* 인라인 블록으로 설정하여 가로로 배열 */
}

.recipeCard {
  width: 100%;
  border: none;
  border-radius: 4;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.recipeCard:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transform: translateY(-5px);
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 200px;
}

.recipeImage {
  border-radius: 4;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.placeholderImage {
  width: 100%;
  height: 200px;
  background-color: #f0f0f0;
}

.bookmarkWrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.recipeTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1.3;
}

.recipeMyPageTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1.3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipeDesc {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.recipeMyPageDesc {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipeInfo {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #666;
}

.recipeInfo span {
  display: flex;
  align-items: center;
}

.recipeInfo span svg {
  margin-right: 4px;
  color: #666;
}


.bookmarkWrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

/* 스켈레톤 */

.recipeCardContainer {
  margin: 0 -10px;
}

.recipeCardContainer > [class*='col-'] {
  padding: 0 10px;
}

.recipeCard .react-content-loader {
  width: 100%;
  height: 100%;
}
