/* Recipe Card.css */

.recipeCard {
  width: 180px;
  height: 300px;
  margin-right: 24px;
  margin-bottom:20px;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 12px;
}

.recipeImg {
  width: 100%;
  height: 217px;
}

.recipeContents {
  diplay: flex;
  flex-direction: column;
  padding: 8px;
}