/* SearchBar.css */

.search-form {
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 20px auto;
}

.search-input {
  height: 40px;
  flex-grow: 1;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px 0 0 25px;
  outline: none;
  background-color: white;
  width: inherit;
}

.btn-warning.search-button {
  height: 40px;
  padding: 5px 20px;
  font-size: 16px;
  color: white;
  background-color: #f17f42; 
  border: none;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-warning:hover {
  background-color: #f29e71;
}