.page {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  left: 30%;

  transform: translate(10%, 0);

  background-color: #ffffff;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.titleWrap {
  margin-top: 87px;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  color: #262626;
  margin-bottom: 20px;

}

.contentWrap {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  flex: 1;
}


.infoOptionalText {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 600;
  color: #262626
}

.infoLabelText {
  margin-top: 0px;
  margin-bottom: 00px;
  font-size: 12px;
  font-weight: 600;
  color: #262626
}

.userInputFrame {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  border-radius: 16px;
  padding: 16px;
  background-color: var(--color-white);
  border: 1px solid #cac5c5;
}

/* input 클릭시 border */
.userInputFrame:focus-within {
  border: 1px solid #cac5c5;
}

.userInput {
  width: 100%;

  background: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  padding: 10px;
  border: none;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
}

.userInput::placeholder {
  color: #dadada;
  text-align: left;
}

.errorMessageWrap {
  margin-top: 1px;
  margin-bottom: 20px;
  color: red;
  font-weight: 700;
  font-size: 12px;
  text-align: left;
}

.userButton {
  width: 100%;
  height: 48px;
  border: none;
  font-weight: 500;
  background-color: #000000;
  border-radius: 64px;
  color: rgb(255, 255, 255);
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

/* 성별 라디오 버튼 */
.userSexRadioGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userSexRadioOption {
  display: flex;
  align-items: center;
}

.userSexRadio {
  color: var(#333);
  font-size: 14px;
  margin-right: 10px;
}

.signup-container {
  /* 글래스모피즘 효과 */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  /* 추가 스타일 */
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

/* hover 이벤트? */
.userButton:hover {
  background: #333333;
}

/* 체크박스 */
.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 12px;
}

p {
  color: #666;
}


